.food-navbar {
    background: var(--food-menu-secondary);
    height: 2em;
    font-size: 1.2rem;
}

.food-menu-icon {
    display: none;
}

.food-navbar-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.food-nav-menu {
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-gap: 10px;
    list-style: none;
    text-align: center;
    max-width: 80vw;
}

.food-nav-menu:focus {
    transition: all 0.2s ease-out;
    background-color: transparent;
    box-shadow: none;
    outline: 0;
    border-bottom: 2px solid #fff;
}

.food-nav-item {
    height: auto;
    background-color: var(--food-menu-secondary);
}

.food-nav-button {
    color: var(--food-menu-secondary-font);
    display: flex;
    align-items: center;
    padding: 0.5rem 0.5rem;
    height: 100%;
    border: none;
    width: 10em;
    justify-content: center;
    background-color: transparent;
    border-radius: 0px;
}

.food-nav-button:active, .food-nav-button:visited, .food-nav-button:hover, .food-nav-button:focus {
    box-shadow: none;
    outline: 0;
    border: none;
    border-bottom: 2px solid #fff;
    transition: all 0.2s ease-out;
    background-color: transparent;
    color: var(--food-menu-secondary-font)
}

.food-nav-button-mobile {
    display: none;
}

.food-nav-item-icon {
    display: none;
}

@media screen and (max-width:576px) {
    .food-nav-item {
        border-radius: 20px;
    }
    .food-nav-button {
        padding: 2em;
        padding-right: 3em;
        width: 100%;
        display: flex;
        justify-content: left;
        margin-top: 30px;
    }
    .food-nav-item-icon {
        display: block;
        font-size: 2em;
        color: var(--food-menu-secondary-font);
        margin: 0px 10px;
    }
    .food-nav-button:hover {
        transition: all 0.5s ease-out;
        font-size: 1.1em;
    }
    .food-menu-icon {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        transform: translate(10%, 10%);
        font-size: 1.6em;
        cursor: pointer;
    }
    .food-nav-menu {
        display: block;
        flex-direction: column;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        overflow-y: auto;
        overflow-x: auto;
        overflow: auto;
        scroll-behavior: smooth;
        left: -200%;
        transition: all 0.5s ease;
    }
    .food-nav-menu.active {
        background: var(--food-menu-card-background);
        left: 0;
        transition: all 0.5s ease;
        z-index: 1;
    }
}

@media screen and (min-width:576px) and (max-width:1200px) {
    .food-nav-button {
        font-size: 0.8em;
    }
}