.about-us-container
{
    padding-top: 50px;
}

.about-us-reactstrap-container img
{
    width: 520px;
    margin-bottom: 20px;
}

.about-us-image-right
{
    float: right;
}

.about-us-image-middle
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    float: none;
    width: 80vw;
    padding-bottom: 20px;
}

.about-us-text-container
{
    margin:auto;
}

.about-us-text
{
    color: white;
    font-size: xx-large;
    text-align: center;
    font-weight: bold;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

@media screen and (max-width: 1183px)
{
    .about-us-text
    {
        font-size: x-large;
        margin-top: 2rem;
        margin-bottom: 2rem;
    }

    .about-us-reactstrap-container img
    {
        width: 450px;
    }

    .about-us-image-right
    {
        display: block;
        margin-left: auto;
        margin-right: auto;
        float: none;
    }

    .about-us-image-left
    {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .about-us-image-middle
    {
        width: 95vw;
    }
}

@media screen and (max-width: 560px)
{
    .about-us-text
    {
        font-size: large;
        margin-top: 2rem;
        margin-bottom: 2rem;
    }

    .about-us-reactstrap-container img
    {
        width: 350px;
    }

    .about-us-image-right
    {
        display: block;
        margin-left: auto;
        margin-right: auto;
        float: none;
    }

    .about-us-image-left
    {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    
    .about-us-image-middle
    {
        width: 95vw;
    }
}
